/TestHibernate/nbproject/private/
/TestHibernate/build/
/EjemploHibernateEmpleados/nbproject/private/
/EjemploHibernateEmpleados/build/
/PorkConJFrame/nbproject/private/
/PorkConJFrame/build/
/Mafia/nbproject/private/
/Bichos/nbproject/private/